@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome to My Awesome Website";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center">
                <h1 class="display-4">Welcome to My Demo Azure DevOps Website</h1>
                <p class="lead">Where Innovation Meets Excellence</p>
                <hr class="my-4">
                <p>Explore the amazing world of web development with ASP.NET Core.</p>
                <p>
                    This web app was created in Visual Studio 2022, synchronized with an GitHub repository, and deployed using Azure Pipelines.<br>
                    The pipeline runs upon source code commit, triggering Continuous Deployment in the Azure Release pipeline.<br>
                    It is currently running on the Azure Web App service.<br>
                </p>
                <a class="btn btn-primary btn-lg" href="https://docs.microsoft.com/aspnet/core" role="button">Get Started</a>
                <hr class="my-4">
                <h4 class="display-6">Employees data from Azure SQL Database</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Position</th>
                            <th scope="col">Status</th>
                            <th scope="col">Department</th>
                            <th scope="col">ZipCode</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*FIX DATA ADD INT FOR ID TO DATABASE, MODIFY CODE AND CHECK*@
                        @foreach (var employee in Model.Employees)
                            {
                                <tr>
                                <td>@employee.Name</td>
                                <td>@employee.Position</td>
                                <td>@employee.Status</td>
                                <td>@employee.Department</td>
                                <td>@employee.ZipCode</td>
                                </tr>
                            }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
