@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome to My Awesome Website";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="text-center">
                <h1 class="display-5">Welcome to My Demo Azure DevOps Website</h1>
                <p class="lead">Where Innovation Meets Excellence</p>
                <hr class="my-4">
                <p>Explore the amazing world of web development with ASP.NET Core.</p>
                <p>
                    This web app was created in Visual Studio 2022, synchronized with an GitHub repository, and deployed using Azure Pipelines.<br>
                    The pipeline runs upon source code commit, triggering Continuous Deployment in the Azure Release pipeline.<br>
                    Currently running on the Azure Web App service and retrieving data from Azure SQL Database.<br>
                    Please view the Wiki project page for more information. <br />
                </p>
                <a class="btn btn-primary btn-sm" href="https://github.com/mb-infrasyst/demoweb33/wiki/Wiki:-Azure-DevOps-%E2%80%90-Deploying-to-Web-App-Service" role="button">Project Wiki</a>
                <hr class="my-4">
                <h4 class="display-6">Employees data from Azure SQL Database</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Position</th>
                            <th scope="col">Status</th>
                            <th scope="col">Department</th>
                            <th scope="col">ZipCode</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*FIX DATA ADD INT FOR ID TO DATABASE, MODIFY CODE AND CHECK*@
                        @foreach (var employee in Model.Employees)
                            {
                                <tr>
                                <td>@employee.Name</td>
                                <td>@employee.Position</td>
                                <td>@employee.Status</td>
                                <td>@employee.Department</td>
                                <td>@employee.ZipCode</td>
                                </tr>
                            }
                    </tbody>
                </table>
            </div>
            <div class="text-center" style="font-size: small;">
                <b>Melvin Batista</b> <br />
                Certified Azure DevOps, Azure Administrator & Azure Developer | Aspiring DevOps Cloud Engineer <br />
                Connect with me: <a href="https://www.linkedin.com/in/melvinbatistatech">LinkedIn</a> <br />
                Embracing Resilience and Growth!
            </div>
        </div>
    </div>
</div>
